@charset "uTf-8";

*{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
}
header{position: relative;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    height: 10em;
}
header>h1{
    margin: auto;
    padding-top: 20px;
    font-size: 6vw;
    margin-bottom: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header p{
    
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
}
/*conteudo*/
section p {
    font-family: cursive;
    margin: 70px 50px;
    line-height: 2em;
    font-size: 3.5vw;
    
}
.img{
    padding: 10px;
    background-size: cover;
    background-attachment: fixed;
}
.img>p{
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}
#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}
#img2{
    background-image: url('imagens/background002.jpg');
}
